.main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form,
label {
  display: flex;
  flex-direction: column;
}

.mainForm {
  width: 50%;
  min-width: 200px;
  max-width: 440px;
}

.label {
  min-height: 86px;
}

.input {
  margin-top: 12px;
  padding: 8px 10px;
}

.textarea {
  margin-top: 12px;
  resize: none;
}

.error {
  color: red;
}
